{% extends 'rss/base.html' %}

    {% load static %}

      {% block content %}

		<div class="container-fluid welcome">
                <div class="row">
                    <div class="col-4">
                        {% if first_visit == "stranger" %}
                        <h2>Welcome stranger!</h2>
                        {% else %}
                        <h3>Welcome {{first_visit}}</h3>
                        {% endif %}
                        <img class="logo" src='{% static "rss/images/JrmNews.png" %}' />
                        <h4>Want to get the news?</h4>
                        <a href="/rss/api/headlines?feed=1">jPost</a> <br />
                        <a href="/rss/api/headlines?feed=2">DailyMail</a> <br />
                        <a href="/rss/api/headlines?feed=3">Wired</a>
                    </div>
                </div>
		</div>

      {% endblock %}
